name: ESLint
on: push
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: 24
        cache: 'yarn'
        cache-dependency-path: 'yarn.lock'
    - name: Install modules
      run: yarn install
    - name: Run ESLint
      run: yarn run lint
    - name: Run TypeScript check
      run: yarn run tsc --noEmit
